# Carga de Librerias

In [5]:
import pandas as pd

# Carga de Datos Procesados

In [11]:
train_data = pd.read_csv('../data/processed/train_processed.csv')
train_data.head()

,PassengerId,Survived,Pclass,Name,Age,SibSp,Parch,Ticket,Fare,Cabin,Sex_female,Sex_male,Embarked_C,Embarked_Q,Embarked_S,FamilySize,Title
0,1,0,3,"Braund, Mr. Owen Harris",22.0,1,0,A/5 21171,7.2500,U,False,True,False,False,True,2,Mr
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",38.0,1,0,PC 17599,71.2833,C,True,False,True,False,False,2,Mrs
2,3,1,3,"Heikkinen, Miss. Laina",26.0,0,0,STON/O2. 3101282,7.9250,U,True,False,False,False,True,1,Miss
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",35.0,1,0,113803,53.1000,C,True,False,False,False,True,2,Mrs
4,5,0,3,"Allen, Mr. William Henry",35.0,0,0,373450,8.0500,U,False,True,False,False,True,1,Mr

# Nuevas Características

In [14]:
train_data['Fare_Per_Person'] = train_data['Fare'] / train_data['FamilySize']

# Creacion de categorías

In [17]:
train_data['Age_Category'] = pd.cut(train_data['Age'], bins=[0, 12, 20, 40, 60, 80], labels=['Child', 'Teen', 'Adult', 'Middle Age', 'Senior'])
train_data['Fare_Category'] = pd.qcut(train_data['Fare'], 4, labels=['Low', 'Medium', 'High', 'Very High'])

In [19]:
# nueva categoria
train_data = pd.get_dummies(train_data, columns=['Age_Category', 'Fare_Category'])

# Guardar datos

In [22]:
train_data.to_csv('../data/processed/train_final.csv', index=False)